dataset/*
dataset/
LibriMix/*
LibriMix/
*.pt
.venv/
env/
__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
env/
flashattention/*
venv/
checkpoints/
causal-conv1d/*